* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
  border: none;
}

body,
header,
.container {
  background-color: #fff;
}
footer {
  background: #f4f4f4;
}
